.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tbut {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffb300;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff9900;
  }
}


.section {
  margin-bottom: 20px;
  flex-basis: 50%;
}

.sectionTitle {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 10px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffb300;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.checkoutWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}

.checkoutContent {
  flex-basis: 66.67%;
  margin-right: 40px;
  margin-bottom: 40px;
}

.sidebar {
  margin-bottom: 10px;
  flex-basis: 33.33%;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 80px;
}

.items {
  margin-bottom: 40px;
}

.basketTotal {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.totalPrice {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.emptyBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 180px;
  margin-bottom: 20px;
}

.small {
  font-size: 20px;
}